# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
*.egg-info/
*.egg
*.so
*.log

# Node
frontend/node_modules/

# Built static assets
static/

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Environment variables
.env